.version.index /* version checker */
{
	color: #0000F9;
	background-color: #E34952;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 446px;
	min-height: 123px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 148px 281px 229px 233px;
}

#menuu91
{
	z-index: 2;
	width: 446px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u99
{
	width: 446px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u102
{
	width: 446px;
	background-color: #C4C4C4;
	padding-bottom: 17px;
	position: relative;
}

#u102.MuseMenuActive
{
	background-color: #999999;
	width: 446px;
	min-height: 0px;
	margin: 0px;
}

#u103-4
{
	width: 446px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 0px;
}

#u102:hover #u103-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 446px;
	margin: 0px -10000px 0px 0px;
}

#u102:active #u103-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 446px;
	margin: 0px -10000px 0px 0px;
}

#u102.MuseMenuActive #u103-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 446px;
	margin: 0px -10000px 0px 0px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u106-5
{
	z-index: 9;
	width: 163px;
	min-height: 42px;
	background-color: transparent;
	margin-left: 155px;
	margin-top: 47px;
	position: relative;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

