.version.index /* version checker */
{
	color: #000017;
	background-color: #358EBF;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 291px;
	min-height: 417.95px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 649px 62.05000000000001px 20px;
}

#u108-4
{
	z-index: 2;
	width: 200px;
	min-height: 42px;
	background-color: transparent;
	line-height: 43px;
	font-size: 36px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
}

#u110
{
	z-index: 6;
	width: 291px;
	min-height: 39px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 398px;
	position: relative;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

